.App {
  text-align: center;
  font-family: "Roboto";
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
  
}

h2 {
  font-size: 1em;
  font-weight: 100;
  margin-left: 10em;
  margin-right: 10em;
}

.ButtonSpaced {
  margin-top: 1em;
  margin-bottom: 4em;
}